@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <link rel="stylesheet" href="~/Contents/styles.css" asp-append-version="true" />
</head>

<body>

    <div>
        <h2>Welcome to Project Management Solutions</h2>
        <p>Effortlessly manage your projects and boost team collaboration with our powerful tools.</p>
        <p>Stay organized, track progress, and achieve your goals faster.</p>
        <p>Start exploring today!</p>
    </div>


<div>
<form class="nav-search-box" action="#">
    <input type="search" name="search" placeholder="Your keyword here..." />
    <button type="button">Search</button>
</form>
</div>

    <h2>MY PROJECT</h2>
    <div class="template-container">
        <div class="template-card">
            <h2>Project Management</h2>
        </div>
        <div class="template-card">
            <h2>Project Management1</h2>
        </div>
        <div class="template-card">
            <h2>Project Management2</h2>
        </div>
        <div class="template-card">
            <h2>Project Management3</h2>
        </div>
    </div>
    <div class="template-container">
        <div class="template-card">
            <h2>Project Management</h2>
        </div>
        <div class="template-card">
            <h2>Project Management1</h2>
        </div>
        <div class="template-card">
            <h2>Project Management2</h2>
        </div>
        <div class="template-card">
            <h2>Project Management3</h2>
        </div>
    </div>
    <div class="template-container">
        <div class="template-card">
            <h2>Project Management</h2>
        </div>
        <div class="template-card">
            <h2>Project Management1</h2>
        </div>
        <div class="template-card">
            <h2>Project Management2</h2>
        </div>
        <div class="template-card">
            <h2>Project Management3</h2>
        </div>
    </div>

</body>
