@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Login";
}


<head>
    <link rel="stylesheet" href="~/Contents/login.css" asp-append-version="true" />
</head>

<body>
    <div class="blurred-box">
        <!--  you dont need the user-login-box html  -->
        <!--  for demo purposes only and its shit  -->
        <div class="user-login-box">
            <span class="user-icon"></span>
            <div class="user-name">Gilfoyle</div>
            <input class="user-password" type="text" />
            <br />
        </div>

    </div>
</body>
